@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Films";
}
@
<a asp-action="Add"><input type="submit" class="btn btn-primary" value="Add new"></a>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Year</th>
        <th></th>
    </tr>
	@foreach (var film in ViewBag.Films)
	{
    <tr>
        <td>@film.Id</td>
        <td>@film.Title</td>
        <td>@film.Genre</td>
        <td>@film.Year</td>
        <td>
            <a asp-action="Remove" asp-route-id="@film.Id"><input type="submit" value="Remove" class="btn btn-danger"/></a>
            <a asp-action="Edit" asp-route-id="@film.Id"><input type="submit" value="Edit" class="btn btn-warning"/></a>
        </td>
    </tr>
	}
</table>